body {
	background-color: #262525 !important;
}

.navbar-default {
	background-color: #262525 !important;
	border: 0 !important;
}

ul.nav a:hover { background-color: #484747 !important; }

.sidebar ul li a.active {
    background-color: #676565;
}

.navbar-default .navbar-brand {
	color: white !important;
}

a {
	color: white !important;
}

.panel {
	border: 0 !important;
	box-shadow: none !important;
}

.panel-heading {
	border: 0 !important;
}

td.type {
	text-align: center;
	font-weight: bold;
}

th.type, th.actions, th.ttl, td.actions, td.ttl {
	text-align: center;
}

td#SOA {
	background-color: #FF9F55;
}

td#NS {
	background-color: #5A88E2;
}

td#A {
	background-color: #4ADED3;
}

td#AAAA {
	background-color: #26a69d;
}

td#CNAME {
	background-color: #e7e488;
}

td#MX {
	background-color: #CF4536;
}

td#TXT {
	background-color: #923E7D;
}

td#AFSDB {
	background-color: #b778a7;
}

td#HINFO {
	background-color: #9398eb;
}

td#RP {
	background-color: #93eb9e;
}

td#LOC {
	background-color: #d0baa6;
}

td#NAPTR {
	background-color: #b3b9f8;
}

td#PTR {
	background-color: #86cdc6;
}

td#SSHFP {
	background-color: #85cd74;
}

td#SPF {
	background-color: #76BA31;
}

td#SRV {
	background-color: #e2787f;
}

i.bind-up {
	color: green;
}

i.bind-down {
	color: red;
}

i.bind-unknown {
	color: grey;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border: none !important;
}

h1, h2, table, .panel-heading, .dataTables_info {
  cursor: default;
}

.fa-exclamation-circle {
	color: #CF4536;
}

td i.fa-upload {
	color: #86cdc6;
}

.yaxisLabel {
	top: 50%;
	left: -13px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 12px;
}

#reverse-help {
	cursor: pointer;
}
