{% extends "layout.html" %}
{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Slave zones</h1>
            </div>
            <!-- /.col-lg-12 -->

        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br/>
            <div class="row">
                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">Notifications</div>
                        <div class="panel-body">
                            {% for message in messages %}
                              <div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        {% endwith %}
        <div class="row">
        	<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	<i>Slave</i> zones
                        </div>
                        <div class="panel-body">
                            <button name="button" value="new_slave" class="btn btn-lg btn-success btn-block">Add slave zone</button><br/>
                            <i class="fa fa-hdd-o fa-fw" style="color:green;"></i> Cached on disk<br/><i class="fa fa-database fa-fw" style="color:orange;"></i> Cached in memory<br/><br/>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="slaves">
                                	<thead>
                                		<th class="name">Name</th>
                                		<th class="type">Type</th>
                                		<th class="cached">Cache</th>
                                		<th class="masters">Masters</th>
                                        <th class="actions">Actions</th>
                                	</thead>
                            		<tbody>
                            			{% for name, zone, zone_type, zone_changed, cached, masters in slaves %}
                        					<tr>
                            					<td class="name">{{name}}</td>
                            					<td class="slave_type">
                                                    {% if name.endswith('.in-addr.arpa') %}
                                                        Reverse
                                                    {% else %}
                                                        Domain
                                                    {% endif %}
                                                </td>
                                                    {% if cached %}
                                                        <td class="cached" id="disk">
                                                            <a href="/slave/{{name}}" title="Cached on disk, click to view records"><i class="fa fa-hdd-o fa-fw"></i></a>
                                                        </td>
                                                    {% else %}
                                                        <td class="cached" id="mem">
                                                            <i class="fa fa-database fa-fw" title="Cached in memory"></i>
                                                        </td>
                                                    {% endif %}
                            					<td class="masters"><code>{{"</code><br/><code>".join(masters)|safe}}</code></td>
                            					<td class="actions">
                            						<i class="fa fa-pencil" title="Edit"></i> 
                            						<i class="fa fa-exclamation-circle" title="Delete"></i>
                            					</td>
                        					</tr>
                            			{% endfor %}
                            		</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#slaves').dataTable({
    		"lengthMenu": [25, 50, 75, 100],
    		"bSort": false
    		// "aaSorting": [],
    		// "aoColumnDefs": [{'bSortable': false, 'aTargets': [3,4]}]
		});
    });
    </script>
    <!-- /#page-wrapper -->
{% endblock %}
