{% extends "layout.html" %}
{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{inspect_zone[0]}}</h1>
            </div>
            <!-- /.col-lg-12 -->

        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br/>
            <div class="row">
                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">Notifications</div>
                        <div class="panel-body">
                            {% for message in messages %}
                              <div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        {% endwith %}
        <div class="row">
        	<div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    	<i>{{inspect_zone[0]}}</i> zone
                    </div>
                    <div class="panel-body">
                        {% if not zone_type == "slave" %}
                            <button name="button" value="new_{{zone_type}}_record" class="btn btn-lg btn-success btn-block">Add record</button><br/>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="zone">
                            	<thead>
                            		<th class="name">Name</th>
                            		<th class="type">Type</th>
                            		<th class="ttl">TTL</th>
                            		<th class="data">Data</th>
                                    {% if not page.startswith('zone/slave') %}
                            		  <th class="actions">Actions</th>
                                    {% endif %}
                            	</thead>
                        		<tbody>
                        			{% for name, node in inspect_zone[1].nodes.items() %}
                        				{% for rdataset in node.rdatasets %}
                        					{% for rdata in rdataset %}
                            					<tr>
	                            					<td class="name">{{name}}</td>
	                            					<td id="{{rtype_to_text(rdata.rdtype)}}" class="type">{{rtype_to_text(rdata.rdtype)}}</td>
	                            					<td class="ttl">{{rdataset.ttl}}</td>
	                            					{% if len(str(rdata)) > 80 %}
	                            						<td class="data">{{str(rdata)[0:80]+'...'}}</td>
	                            					{% else %}
	                            						<td class="data">{{str(rdata)}}</td>
	                            					{% endif %}
                                                    {% if not page.startswith('zone/slave') %}
    	                            					<td class="actions">
    	                            						{% if rtype_to_text(rdata.rdtype) in ['A', 'AAAA'] %}
    	                            							<i class="fa fa-upload" title="Generate Reverse Record"></i>
    	                            						{% endif %}
    	                            						<i class="fa fa-pencil" title="Edit"></i> 
                                                            {% if not rtype_to_text(rdata.rdtype) == 'SOA' %}
    	                            						    <i class="fa fa-exclamation-circle" title="Delete"></i>
                                                            {% endif %}
    	                            					</td>
                                                    {% endif %}
                            					</tr>
                        					{% endfor %}
                        				{% endfor %}
                        			{% endfor %}
                        		</tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Raw zone
                    </div>
                    <div class="panel-body">
                        <pre><code class="zone">; raw zone file for {{inspect_zone[0]}}, generated at {{now}}
{{z2t}}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#zone').dataTable({
    		"lengthMenu": [25, 50, 75, 100],
    		"bSort": false
    		// "aaSorting": [],
    		// "aoColumnDefs": [{'bSortable': false, 'aTargets': [3,4]}]
		});
    });
    </script>
    <!-- /#page-wrapper -->
{% endblock %}
